<footer>
  <p><img src="{{ site.baseurl }}/assets/rodrigo-ghedin.jpg" alt="Smiling white man wearing glasses and a black t-shirt" width="120" height="120" loading="lazy" /></p>
  <p>Rodrigo Ghedin is a Brazilian journalist covering consumer tech for <cite>Manual do Usuário</cite>, a small, independent publication he founded in 2013. In this blog, he shares his best writings in (admittedly imperfect) English to a broader audience.</p>
  <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> &middot; 2022–2025</p>
</footer>

<script defer src="https://umami.ghed.in/script.js" data-website-id="3ff05df7-1fef-4aa7-9ffd-81588fbba695"></script>

</body>
</html>